.DS_Store
.ycm_extra_conf.py
.ycm_extra_conf.pyc
handmade
handmade.dSYM/
*.dylib
*.so
*.o
test.out
Handmade.app
handmade.cpp
handmade.h
handmade_intrinsics.h
handmade_math.h
handmade_platform.h
handmade_random.h
handmade_tile.cpp
handmade_tile.h
handmade_world.cpp
handmade_world.h
loop_edit*.hmi
Contents/
test/
test2/
