.DS_Store
.ycm_extra_conf.py
.ycm_extra_conf.pyc
handmade
handmade.dSYM/
*.dylib
*.so
*.o
test.out
Handmade.app
handmade.cpp
handmade.h
handmade_entity.cpp
handmade_entity.h
handmade_intrinsics.h
handmade_math.h
handmade_platform.h
handmade_random.h
handmade_sim_region.cpp
handmade_sim_region.h
handmade_world.cpp
handmade_world.h
handmade_render_group.cpp
handmade_render_group.h
handmade_tile.cpp
handmade_tile.h
win32_handmade.cpp
win32_handmade.h
loop_edit*.hmi
Contents/
test/
test2/
